<!DOCTYPE html>
<!-- This template is supposed to be used with `--for-each year`. -->
<html>

<head>
    <meta charset="utf-8" />
    <title>Links to all of @{{ tweets[0].account.username }}’s tweets in {{ tweets[0].created_at.year }}</title>
</head>

<body>
    <h1>Links to all of @{{ tweets[0].account.username }}’s tweets in {{ tweets[0].created_at.year }}</h1>
{% for month, tweets in tweets|groupby("created_at.month") %}
    <h2>{{ tweets[0].created_at.strftime("%B") }}</h2>
    <p>{% for tweet in tweets -%}
<a href="{{ tweet.url }}">•</a>
    {% endfor %}</p>
{% endfor %}
</body>

</html>
